<!DOCTYPE html>


<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Приют для кошек</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="css/index.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" defer integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</head>


<body>

    <header class="p-3 mb-3 border-bottom">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
                    <img src="assets/icon.png" width="50">
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 ms-3">
                    <li><a href="/" class="nav-link px-2 badge text-bg-primary">Пользователь</a></li>
                    <li><a href="/admin" class="nav-link px-2 link-dark badge">Админ</a></li>
                </ul>

                <form class="col-12 col-lg-auto mb-3 ms-3 mb-lg-0 me-lg-3" role="search">
                    <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
                </form>
            </div>
        </div>
    </header>
    
    <main class="container">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Все</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/?active=true">Ищут дом</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/?active=false">Уже дома</a>
            </li>
        </ul>
        <hr>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-2">
            {{#each items }}
            <div class="col">
                <div class="card" style="width: 14rem;">
                    <img src="{{this.img}}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">
                            {{this.name}}
                            <span class="badge {{this.sex}} float-end">{{this.sex}}</span>    
                        </h5>
                        <p class="card-text">
                            Порода: {{this.breed}} <br>
                            Возраст: {{this.age}}
                        </p>
                        {{#if this.isActive}}
                            <a href="/home?id={{this.id}}" class="btn btn-primary">Забрать</a>
                        {{else}}
                            <b>Котик уже дома</b>
                        {{/if}}
                    </div>
                </div>
            </div>
        {{/each}}
        </div>
        
    </main>

</body>


</html>